﻿
@{
    Layout = null;
}

<!doctype html>
<html lang="en" data-framework="es6">
<head>
    <meta charset="utf-8">
    <title>VanillaJS • TodoMVC</title>
    <link rel="stylesheet" href="/todomvc/css/todomvc-app.css">
</head>
<body>
    <section class="todoapp">
        <header class="header">
            <h1 class="sync">todos</h1>
            <input class="new-todo" placeholder="What needs to be done?" autofocus>
        </header>
        <section style="display:none" class="main">
            <input id="toggle-all" class="toggle-all" type="checkbox">
            <label for="toggle-all">Mark all as complete</label>
            <ul class="todo-list">
                @*<li data-id="1551151300264" class="">
                <div class="view">
                    <input class="toggle" type="checkbox">
                    <label>sample</label>
                    <button class="destroy"></button>
                </div>
            </li>*@
            </ul>
            <footer class="footer">
                <span class="todo-count"></span>
                <ul class="filters">
                    <li>
                        <a href="#/" class="selected">All</a>
                    </li>
                    <li>
                        <a href="#/active" data-type="active">Active</a>
                    </li>
                    <li>
                        <a href="#/completed" data-type="completed">Completed</a>
                    </li>
                </ul>
                <button class="clear-completed">Clear completed</button>
            </footer>
        </section>
    </section>
    <footer class="info">
        <p>Double-click to edit a todo </p>
        <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    <script type="module" src="~/todomvc/js/main.js">
    </script>
</body>
</html>
