﻿@model mvc.Models.Person
@{
    ViewBag.Title = "新增";
    //Layout = null;
}

<h2>新增</h2>
<div>
    @using (Html.BeginForm())
    {
        <div class="row">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Age)
            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
        </div>
        <br />
        <div class="row">
            <button type="submit" class="btn btn-default">送出</button>
            <a href="/demo/index" class="btn btn-danger">返回</a>
        </div>
    }
</div>
