﻿@model List<mvc.Models.ViewModels.PersonViewModel>
@{
    ViewBag.Title = "Index Table";
}

<h2>Index Table</h2>
@if (ViewBag.Role == "admin")
{
    <a class="btn btn-default" href="/demo/create">+</a>
    <table class="table">
        <tr>
            <th class="col-md-5">名稱</th>
            <th class="col-md-5">年齡</th>
            <th class="col-md-2"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>
                    <a href="/demo/edit/@item.Id" class="btn btn-warning">Edit</a>
                    <button class="btn btn-danger" onclick="app.deletePerson(@item.Id)">Delete</button>
                </td>
            </tr>
        }
    </table>
}
<script>
    var app = {
        deletePerson(id) {
            if(confirm('delete?')){
                $.post('/demo/delete/' + id, (re) => {
                    alert(re);
                    if(re === true){
                        location.reload();
                    }
                });
            }
        }
    };
</script>
